@import "include";


body {
	@extend %clearspace-extend;
	@include transition();
	background: $color-lbrown url("../images/background-lightwood.jpg") no-repeat center center fixed;
	font-size: 16px;
	line-height: 1.5em;
	width: 100%;
	color: $color-brown-dark;
	overflow-x: hidden;
}
ul,li {
	@extend %clearspace-extend;
	list-style: none;
}
h1,h2,h3,h4,h5,h6 {
	@extend %clearspace-extend;
	font-weight: normal;
	line-height: 1.4em;
}
h1 { font-size: 4em; }
h2 { font-size: 3em; }
h3 { font-size: 2em; }
h4 { font-size: 1.75em; }
h5 { font-size: 1.5em; }
h6 { font-size: 1.25em; }
a {
	@include transition();
	color: $color-red;
	&:hover {
		color: $color-orange;
		text-decoration: none;
	}
}
img { border: none; }
small { color: $color-brown-dark !important; }




.clearspace { @include clearspace(); }
.tab-xs { padding-left: 5px; }
.tab-sm { padding-left: 10px; }
.tab-md { padding-left: 20px; }
.tab-lg { padding-left: 40px; }
.image-fit { img { width: 100%; } }
.text-lg { font-size: 1.25em !important; line-height: 1.75em !important; }
.text-md { font-size: 1em !important; line-height: 1.5em !important; }
.text-sm { font-size: 0.75em !important; line-height: 1.25em !important; }
.text-xs { font-size: 0.5em !important; line-height: 1em !important; }
.background-white { background-color: $color-white !important; }
.background-brown { background-color: $color-brown !important; }
.background-lbrown { background-color: $color-lbrown !important; }
.round { @include round(); }
.align-right { text-align: right; }
.align-left { text-align: left; }
.align-center { text-align: center; }
.text-white { color: $color-white !important; }



.liststyle-bullet {
	margin-left: 30px;
	li {
	list-style-type: disc; 
	list-style-position: inside;
	}
}



// HEADER
$height-header-video: 550px;
$height-header: 155px;
$height-header-top: 107px;
$height-header-bottom: 48px;
$height-header-scrolled-all: 65px;
$height-header-scrolled-top: 30px;
$height-header-scrolled-bottom: 35px;
.header-video {
	@include transition(200ms);
	position: relative;
	height: $height-header-video;
	.header-video-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url("../images/videooverlay.png") no-repeat center center;
		z-index: 5;
	}
	.header-video-content {
		@include transition();
		position: absolute;
		top: $height-header + 30;
		left: 0;
		width: 100%;
		color: $color-white;
		z-index: 10;
		.header-video-content-container {
			@include textshadow(20px, 0.5);
			width: 500px;
			overflow: hidden;
			margin-left: 50px;
		}
		.btn { @include textshadow(0px, 0); }
	}
}
.header-video-background {
	@include transition();
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0px;
	margin: 0px;
	height: $height-header-video;
	background: url("../images/videobackground.png") no-repeat center center;
	background-color: $color-brown;
	height: $height-header-video;
	z-index: -1;
}
.header {
	@include shadow();
	@include transition();
	height: $height-header;
	width: 100%;
	background: $color-lbrown url("../images/background-lightwood.jpg") no-repeat center top;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 999999999;
	.header-top {
		@include transition();
		position: absolute;
		width: 100%;
		top: 0px;
		left: 0px;
		font-size: 1.1em;
		height: $height-header-top;
		line-height: $height-header-top;
		overflow: hidden;
		.logo {
			text-align: left;
			img {
				@include transition();
				max-width: 270px;
			}
		}
		.details {
			text-align: right;
		}
		.btn { margin-bottom: 4px; }
	}
	.header-bottom {
		@include transition();
		position: absolute;
		width: 100%;
		top: $height-header-top;
		left: 0px;
		height: $height-header-bottom;
		line-height: $height-header-bottom;
		background: $color-brown;
		overflow: hidden;
		color: $color-white;
		.navigation-show-mobile {
			@include transition();
			height: $height-header-bottom;
			line-height: $height-header-bottom;
			width: 100%;
			text-align: center;
			background: none;
			border: none;
			&:hover { background: $color-orange; }
		}
		.navigation {
			text-align: center;
			ul {
				li {
					display: inline-block;
					a {
						@include transition();
						color: $color-white;
						display: block;
						padding: 0px 35px;
						&:hover { background: rgba($color-brown-darker, 1); }
					}
					&.active {
						a {
							background: rgba($color-orange, 1);
							&:hover {
								@include glow(5px, $color-orange + 30, 0.5);
								background: rgba($color-orange + 30, 1);
							}
						}
					}
				}
			}
		}
	}
	.header-extra {
		@include transition();
		position: absolute;
		top: ($height-header-scrolled-top + 20) * -1;
		left: 0px;
		width: 100%;
		height: $height-header-scrolled-top;
		line-height: $height-header-scrolled-top;
		font-size: 1.1em;
		text-align: center;
		overflow: hidden;
		a {
			color: $color-white;
			background: $color-red;
			display: block;
			&:hover { background: $color-orange; }
		}
	}
	.header-navmobile {
		@include transition();
		position: absolute;
		top: $height-header;
		left: 0px;
		height: 0px;
		width: 100%;
		overflow: hidden;
		font-size: 1.5em;
		ul {
			li {
				a {
					text-align: center;
					background: rgba($color-white, 0.9);
					display: block;
					padding: 24px;
					color: $color-orange;
					border-bottom: solid 1px rgba($color-brown, 0.15);
					&:hover { background: rgba($color-white, 1); }
				}
				&.active a {
					color: $color-white;
					background: rgba($color-orange, 0.9);
					&:hover { background: rgba($color-orange, 1); }
				}
			}
		}
		&.header-navmobile-show {
			height: 550px;
		}
	}
}
.header-scrolled {
	height: $height-header-scrolled-all;
	.header-top {
		top: ($height-header-top + 20) * -1;
	}
	.header-bottom {
		top: $height-header-scrolled-top;
		height: $height-header-scrolled-bottom;
		line-height: $height-header-scrolled-bottom;
		background: $color-brown-darker;
		.navigation-show-mobile {
			height: $height-header-scrolled-bottom;
			line-height: $height-header-scrolled-bottom;
		}
		.navigation { ul { li { a { &:hover { background: rgba($color-brown-darkest,1); } } } } }
	}
	.header-extra { top: 0; }
	.header-navmobile { top: $height-header-scrolled-all; }
}



$space-px: 60px 0px;
section { padding: $space-px; }
// CIRCLELIST
.circlelist {
	padding: 60px 0px 40px 0px;
	a { color: $color-lbrown-light; }
	.circle {
		@include transition();
		@include round(50%);
		@include glow(0px, $color-orange, 0);
		width: 100%;
		height: 100%;
		display: block;
		background: $color-brown;
		margin-top: 10px;
		margin-bottom: 10px;
		.circle-content {
			@include transition();
			position: absolute;
			left: 0px;
			bottom: 27%;
			width: 100%;
			text-align: center;
			z-index: 10;
		}
		img {
			@include transition();
			width: 100%;
		}
		&:hover {
			@include glow(5px, $color-orange, 0.75);
			background: $color-orange;
			.circle-content { bottom: 29%; }
			img { padding: 10px; }
		}
	}
}




// FOLLOW
.follow {
	background: url("../images/background-follow.jpg") no-repeat center center;
	background-color: $color-lbrown;
	.follow-container {
		@include transition();
		padding: $space-px;
		text-align: center;
		color: $color-white;
		background: rgba($color-brown, 0.7);
		&:hover { background: rgba($color-brown, 0.85); }
	}
	a { color: $color-white; }
}





// MENU
.menu {
	padding: 0px 50px;
	.menu-thumb {
		overflow: hidden;
		position: relative;
		.bestseller {
			position: absolute;
			top: 0px;
			left: 0px;
			z-index: 10;
		}
		.content {
			@include transition();
			position: absolute;
			bottom: -200px;
			left: 0px;
			width: 100%;
			padding: 10px 12px;
			z-index: 5;
			background: rgba($color-white, 0.75);
			a {
				color: $color-brown-dark;
				&:hover { color: $color-red; }
			}
		}
		&:hover { .content { bottom: 0px; } }
	}
}




// GOOGLE MAP
.googlemap-wrapper {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #f1e2cb;
	.map-canvas { height: 400px; }
}



// FOOTER
$dimension-totop: 60px;
.footer {
	position: relative;
	.footer-totop {
		position: absolute;
		top: ($dimension-totop / 3) * -1;
		width: 100%;
		text-align: center;
		button {
			@include transition();
			@include round(50%);
			@include shadow(15px, 0.25);
			height: $dimension-totop;
			width: $dimension-totop;
			background: $color-red;
			font-size: 1.5em;
			border: none;
		}
		&:hover { button { background: $color-orange; } }
	}
	background: url("../images/background-darkwood.jpg") repeat center center;
	background-color: $color-dbrown;
	color: $color-lbrown-light;
	font-size: 0.9em;
	line-height: 1.25em;
	a {
		color: $color-orange;
		&:hover { color: $color-orange + 75; }
	}
	.inner-container {
		padding: 5px;
	}
	.footer-menuthumb {
		@include clearspace();
		li {
			width: 30%;
			display: inline-block;
			margin-bottom: 3px;
			img {
				@include transition();
				width: 100%;
				opacity: 0.5;
				background-color: $color-brown;
				&:hover { opacity: 1; }
			}
		}
	}
	.footer-nav {
		@include clearspace();
		li {
			padding-bottom: 5px;
			a { display: block; }
		}
	}
}
.footer-bottom {
	padding: 8px;
	font-size: 0.75em;
	color: $color-white;
	background: #111;
}



// BOOTSTRAP OVERRIDE
.btn {
	@include transition();
	border: none;
}
.btn-default {

}
.btn-success {

}
.btn-warning {

}
.btn-danger {
	@include glow(0px, $color-orange, 0);
	background: $color-red;
	&:hover {
		@include glow(5px, $color-orange, 0.75);
		background: $color-orange
	}
}



// MEDIA QUERY
// LG
@media (min-width: 1200px) {

}
// MD
@media (min-width: 992px) and (max-width: 1199px) {
	.header { .header-bottom { .navigation { ul { li { a { padding: 0px 24px; } } } } } }
}
// SM
@media (min-width: 768px) and (max-width: 991px) {

}
// XS
@media (max-width: 767px) {
	.header-video {
		.header-video-content {
			top: $height-header;
			.header-video-content-container {
				width: 100%;
				margin: 0px;
			}
		}
	}
}